<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ Copyright (c) 2010, Red Hat Inc. or third-party contributors as
  ~ indicated by the @author tags or express copyright attribution
  ~ statements applied by the authors.  All third-party contributions are
  ~ distributed under license by Red Hat Inc.
  ~
  ~ This copyrighted material is made available to anyone wishing to use, modify,
  ~ copy, or redistribute it subject to the terms and conditions of the GNU
  ~ Lesser General Public License, as published by the Free Software Foundation.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  ~ or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this distribution; if not, write to:
  ~ Free Software Foundation, Inc.
  ~ 51 Franklin Street, Fifth Floor
  ~ Boston, MA  02110-1301  USA
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
		
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/shizhong?useUnicode=true&amp;characterEncoding=utf8</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1111</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">5</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
		
        <!-- Names the annotated entity class -->
        <mapping class="com.shizhong.db.dao.LiGan"/>
        <mapping class="com.shizhong.db.dao.LiGanPreview"/>
        <mapping class="com.shizhong.db.dao.TingZi"/>
        <mapping class="com.shizhong.db.dao.TingZiPreview"/>
        <mapping class="com.shizhong.db.dao.TingZiNanHui"/>
        <mapping class="com.shizhong.db.dao.TingZiNanHuiPreview"/>
        <mapping class="com.shizhong.db.dao.Taxi"/>
        <mapping class="com.shizhong.db.dao.LineSchedule"/>
        <mapping class="com.shizhong.db.dao.ModifyHistory"/>
        <mapping class="com.shizhong.db.dao.User"/>
        <mapping class="com.shizhong.db.dao.SZTransaction"/>
        <mapping class="com.shizhong.db.dao.PreTransaction"/>
        <mapping class="com.shizhong.db.dao.BusTicketPreview"/>
        <mapping class="com.shizhong.db.dao.BusTicket"/>
        <mapping class="com.shizhong.db.dao.BusTicketAirPreview"/>
        <mapping class="com.shizhong.db.dao.BusTicketAir"/>
        <mapping class="com.shizhong.db.dao.UpLine"/>
        <mapping class="com.shizhong.db.dao.UpLinePreview"/>
        <mapping class="com.shizhong.db.dao.DownLine"/>
        <mapping class="com.shizhong.db.dao.DownLinePreview"/>
        <mapping class="com.shizhong.db.dao.YangZhaoDian"/>
        <mapping class="com.shizhong.db.dao.YangZhaoDianPreview"/>
		 
    </session-factory>

</hibernate-configuration>